next-shadcn-dashboard-starter/escape-room-ai-assistant-n8n-workflow.json
{
  "name": "Escape Room AI Assistant",
  "nodes": [
    {
      "parameters": {
        "path": "9437ada2-f85f-4dc0-8294-b2e2d9ff1ea6",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "9437ada2-f85f-4dc0-8294-b2e2d9ff1ea6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8f8e8f8e-8f8e-8f8e-8f8e-8f8e8f8e8f8e",
              "leftValue": "={{ $json.query }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "e6722af1-8b89-44f1-9c8a-5e7b8c9d0e1f",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [380, 300]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "resource": "chat",
        "operation": "message",
        "model": {
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an AI assistant that converts natural language questions about escape room business data into SQL queries. You have access to the following database schema:\n\n**Tables:**\n1. **Room Slots** - Contains booking data with columns:\n   - room_id (text): Unique room identifier\n   - room_name (text): Name of the escape room\n   - business_name (text): Business name (Cracked IT, Green Light Escape, iEscape Rooms, The Exit Games)\n   - booking_date (date): Date of the slot\n   - hour (time): Time slot\n   - available_slots (integer): Number of available slots\n   - is_available (boolean): Whether the slot is available\n   - scrape_timestamp (timestamp): When data was collected\n   - scrape_id (text): Unique scrape identifier\n\n2. **Business Location** - Contains business info:\n   - business_name (text): Business name\n   - business_id (text): Unique business identifier\n\n**Business Names (exact matching required):**\n- \"Cracked IT\" (also appears as \"Cracked It\")\n- \"Green Light Escape\"\n- \"iEscape Rooms\"\n- \"The Exit Games\" (may have tab character)\n\n**Business Hours (all times EST):**\n- Cracked IT: Mon-Thu 3PM-8PM, Fri 3PM-9:30PM, Sat-Sun 12PM-8PM/9:30PM\n- Green Light Escape: Mon-Thu 11AM-9:30PM, Fri-Sat 11AM-10:15PM, Sun 11:30AM-8:45PM\n- iEscape Rooms: Daily 12PM-Midnight\n- The Exit Games: Mon-Tue CLOSED, Wed-Fri 2:45PM-9:15PM, Sat 11AM-10:15PM, Sun 11:15AM-8:30PM\n\n**Instructions:**\n1. Convert the user's natural language question into a PostgreSQL query\n2. Use proper PostgreSQL syntax\n3. Focus on the Room Slots table for most queries\n4. For date ranges, use DATE() function or proper date comparisons\n5. For time-based queries, consider business hours\n6. Calculate utilization as: (total_slots - available_slots) / total_slots * 100\n7. Always use the latest scrape data (MAX(scrape_timestamp) or recent dates)\n8. Return only the SQL query without explanation unless specifically asked\n9. For business name filtering, use ILIKE for flexible matching\n10. Consider aggregations for summary statistics\n\n**Common query patterns:**\n- Utilization rates: Calculate booking percentage\n- Availability: Show open slots\n- Business performance: Compare metrics across businesses\n- Time trends: Group by date/time periods\n- Room popularity: Count bookings per room\n\nRespond with just the SQL query that answers their question."
            },
            {
              "role": "user",
              "content": "={{ $json.query }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 1000
        }
      },
      "id": "c8a2b9e4-7f6d-4c3e-9a8b-1c2d3e4f5g6h",
      "name": "OpenAI Query Generator",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [520, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.choices[0].message.content }}"
      },
      "id": "d9b3c0f5-8g7e-5d4f-0b9c-2d3e4f5g6h7i",
      "name": "Supabase Query",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "supabaseApi": {
          "id": "2",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "resource": "chat",
        "operation": "message",
        "model": {
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an AI assistant that interprets database query results for escape room business owners. \n\nYour job is to:\n1. Take the SQL query results and format them into a clear, business-friendly response\n2. Provide insights and analysis where appropriate\n3. Use proper formatting with bullet points, numbers, and clear structure\n4. Include relevant business metrics and percentages\n5. Highlight key findings and trends\n6. Suggest actionable insights when possible\n7. Format numbers appropriately (percentages, currency if applicable)\n8. Use business terminology rather than technical database terms\n\n**Context:** The user asked: \"{{ $node['Webhook'].json.query }}\"\n**SQL Query Used:** {{ $node['OpenAI Query Generator'].json.choices[0].message.content }}\n**Query Results:** {{ JSON.stringify($json) }}\n\nProvide a comprehensive, business-focused interpretation of these results."
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1500
        }
      },
      "id": "e0c4d1g6-9h8f-6e5g-1c0d-3e4f5g6h7i8j",
      "name": "OpenAI Response Formatter",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [840, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"query\": $node['Webhook'].json.query,\n  \"sql_query\": $node['OpenAI Query Generator'].json.choices[0].message.content,\n  \"raw_data\": $json,\n  \"response\": $node['OpenAI Response Formatter'].json.choices[0].message.content,\n  \"timestamp\": new Date().toISOString(),\n  \"data_points\": $node['Supabase Query'].json.length || 0\n} }}"
      },
      "id": "f1d5e2h7-0i9g-7f6h-2d1e-4f5g6h7i8j9k",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "resource": "chat",
        "operation": "message",
        "model": {
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "The user asked a question about escape room data, but there was an error processing their request. Provide a helpful error message that:\n1. Acknowledges the issue\n2. Suggests what might have gone wrong\n3. Offers alternative suggestions\n4. Maintains a helpful, professional tone\n\nUser's original question: {{ $node['Webhook'].json.query }}\nError details: {{ $json.error || 'Unknown error occurred' }}"
            }
          ]
        },
        "options": {
          "temperature": 0.5,
          "maxTokens": 500
        }
      },
      "id": "g2e6f3i8-1j0h-8g7i-3e2f-5g6h7i8j9k0l",
      "name": "Error Handler",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [520, 450],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"query\": $node['Webhook'].json.query,\n  \"error\": $json.error || 'Processing error occurred',\n  \"response\": $json.choices?.[0]?.message?.content || 'I apologize, but I encountered an error processing your request. Please try rephrasing your question or contact support.',\n  \"timestamp\": new Date().toISOString()\n} }}"
      },
      "id": "h3f7g4j9-2k1i-9h8j-4f3g-6h7i8j9k0l1m",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 450]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "OpenAI Query Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Query Generator": {
      "main": [
        [
          {
            "node": "Supabase Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Query": {
      "main": [
        [
          {
            "node": "OpenAI Response Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Response Formatter": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "escape-room-ai-assistant",
  "tags": []
} 